<footer>
	<p>
		<a href="mailto: info@omnicommons.org">info@omnicommons.org</a><br>
		Omni Commons | <a href="/">omnicommons.org</a><br>
		<a href="#">
			4799 Shattuck Avenue<br>
			Oakland, CA 94609
		</a>	
	</p>
	<p id="copyright" class="text-muted">
		<span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">©</span> 
		CopyLeft Omni Oakland Collective, All Wrongs Reversed, 2017
	</p>
</footer>

<!-- load tether js -->
<script src="/vendor/tether/js/tether.min.js"></script>
<!-- load bootstrap js -->
<script src="/vendor/bootstrap4/js/bootstrap.min.js"></script>
</body>
</html>