<% include ../partials/header.ejs %>

<div class="dark viewport-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">

                <h1 class="text-center mt-5">
                	<%= user.local.username %>
                </h1>

                <p class="text-center" style="margin-top: 20px;">
                	joined <%= user.createdFromNow() %><br>
                	<%= user.local.email %><br>
           			<%= user.local.phoneNumber %>
                </p>
            </div>    
        </div>        
    </div>

</div>

<% include ../partials/footer.ejs %>