<% include ../partials/header.ejs %>

<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center text-md-left mt-5">OCCUPY THE COMMONS</h1>
				<h3 class="mt-3">Guide for Events in the Ballroom</h3>
				<p class="text-lg">
					Cleaning the ballroom before and after an event is incredibly important. We’ve put together the following guide to help people through the process of preparing the ballroom for an event, as well as what cleaning tasks are expected of a group after their use of the ballroom.
				</p>
				<p class="text-lg">
					Please understand that The Omni doesn’t have the funds to hire professional cleaning services or coordinators to make sure the space is explicitly ready for your event, so join us in this basic practice of commoning by preparing the space to the best of your ability.
				</p>

				<h4><strong>Preparing the Ballroom</strong></h4>
				
				<ul class="text-lg">
					<li>Plan to arrive at least an hour before the start of the event. If your event requires its own setup, then you should arrive according to how much time you think it will take you to setup your things.</li>
					<li>We use the ballroom as a common space whenever it’s not in scheduled use, there may be chairs and other pieces of furniture (maybe some other misc. items) spread out around the space. You can move the chairs and furniture to the walls or take them upstairs to get them out of your way. If you’re unsure where to put something, then feel free to ask your point person or put them to the side.</li>
					<li>Trash cans can be found behind the ballroom bar and should be pulled out for your guests’ use during your event. They can be used to prepare the ballroom and clean up the ballroom after your event.</li>
					<li>Sweep and mop the ballroom. We keep our industrial sweeps, mops/mop buckets and bleach in the broom/mop closet located on the south-west (stage-right) side of the ballroom. Please clean up any spills, crumbs, or other evidence of your event! You may not feel that the floors need to be mopped in preparation for your event, but you will need to mop the floor when your event is over.</li>
					<li>The downstairs bathroom is located on the north-west (front-right) side of the ballroom and the upstairs bathroom is located at the top of the stairs on the south-east (back-left) side of the ballroom. Make sure the trash cans have bags with enough room for your trash, and that the bathrooms are clean. Check to make sure there’s toilet paper for each stall. If you need to find toilet paper or want to clean the bathrooms, all supplies can be found in the downstairs bathroom on the shelf next to the sink.</li>
					<li>Make sure your guests know where to go. The Omni is a large and confusing space. Bring signs to post on the doors to properly direct people to your event.</li>
				</ul>
				
				<h4><strong>Cleaning the Ballroom</strong></h4>

				<ul class="text-lg">
					<li>Clear the space of all your belongings and trash. Make sure to take all the stuff you bring into the building out of the building. It is a huge burden to leave items in the space for others to deal with, and prevents other people from being able to use the space. This includes removing your own trash. It’s a blessing that we have so many people in our space, but we have to deal with a lot of trash and it’s an expensive bill. We ask that all groups using the ballroom to not leave their trash, but take it with them and dispose of it themselves.</li>
					<li>Sweep and mop the floors. All sweeping and mopping tools and supplies can be found in the south-west (front-left) closet of the ballroom. Please put all of these supplies and tools back where you found them.</li>
					<li>Clean the bathrooms. All the bathroom tools and supplies can be found on the shelf next to the sink in the downstairs bathroom. Clean the toilet bowls (including the urinal trough) with the toilet bowl cleaning tool, using a bucket full of cleaning solution. Clean the toilets (including the trough) with the cleaning spray solution and paper-towels. Replace empty toilet paper holders with new toilet paper. Wipe down the mirrors and bar area. Remove trash from bathrooms.</li>
					<li>Turn off the lights. The chandeliers can be turned off by the switches on the wall in the north-east (back-right) side of the ballroom. Other lights can be turned off from the stage-right side of the stage, on the wall, next to the ladder.</li>
					<li>Remove signs and close doors. Take down all your signs and make sure to close the doors and lock them upon leaving.</li>
				</ul>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>