<% include ../partials/header.ejs %>

<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center text-md-left mt-5">OCCUPY THE COMMONS</h1>
				<h3 class="mt-3">Omni Rules</h3>
				<p class="text-lg">
					These are the consensed-upon rules of Omni Commons:
				</p>
				<ul class="text-lg">
					<li>
						No open flames or burning of incense or sage:
						<ul>
							<li>Any devices designed to produce open flames in such a way that the open flame persists without the continued presence of a human being, must be extinguished and removed from the building unless these devices are part of the infrastructure of the Omni or one of its groups. Examples of disallowed open flames include candles, incense sticks, burning/smoldering sage and oil lamps, whereas allowed open flames include the gas stove in the common kitchen, bunsen burners managed by Counter Culture labs and hand-held lighters (though smoking inside the building is of course still disallowed).</li>
						</ul>
					</li>
					<li>No sleeping, including naps</li>
					<li>No personal storage</li>
					<li>No animals off leash, with the exception of unleashed service animals</li>
					<li>No consumption of alcohol on the sidewalk around the building</li>
					<li>No material donations without prior approval</li>
				</ul>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>