<% include ../partials/header.ejs %>

<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center text-md-left mt-5">OCCUPY THE COMMONS</h1>
				<h3 class="mt-3">Lease Policy &amp; Fee Structure</h3>
				<p class="text-lg">
					The Omni leases areas of the building for performances, meetings, celebrations, and other events. The revenue goes towards costs and improvements. Our lease policy and fee structure are intended to make our space available and accessible to all.
				</p>

				<h5><strong>Lease Policy</strong></h5>

				<p class="text-lg">
					The Omni is a political project with a vision and values. Our vision is an equitable use of resources and meeting of human needs over private interests or corporate profit. Our values include radical use of space and resources, liberation of knowledge, and transformative justice.
				</p>
				<p class="text-lg">
					We dedicate the majority of the monthly calendar to events that build our communities. We prioritize requests from individuals/groups aligned with our vision and values, and we reserve the right to decline requests from groups that oppose our vision and values.
				</p>
				<p class="text-lg">
					We consider all event inquiries and booking requests submitted. In situations where a member collective of The Omni raises a concern about an event, we work together to address any concerns before confirming events.
				</p>

				<h5><strong>Fee Structure</strong></h5>

				<p class="text-lg">
					We offer competitive rates for various groups. In an effort to support a diversity of organizations and events, we offer a sliding scale for renting space at the Omni. Those who are able to pay more for renting the space support others who are unable to pay. The fee structure below is provided as guideline. We evaluate the final fee for each event on a case-by-case basis, depending on impact on the space.
				</p>
				<p class="text-lg">
					We determine fees based on the principle “from each according to their abilities, to each according to their needs.”
				</p>
				<p class="text-lg">
					Specific factors we consider for each event fee include:
				</p>
				<ul class="text-lg">
					<li>attendance</li>
					<li>public benefit</li>
					<li>cost to attend event</li>
					<li>ability to pay and charitable/non-profit status</li>
					<li>needs for setup, cleanup, and other assistance</li>
					<li>needs for audio/visual equipment, chairs, tables, etc.</li>
					<li>relationship with Omni and/or member collectives</li>
				</ul>			
				<p class="text-lg">
					For the ballroom:
				</p>
				<ul class="text-lg">
					<li>$300–7,500 per 4 hour rental, Monday through Thursday</li>
					<li>$400–10,000 per 4 hour rental, Friday, Saturday, and Sunday</li>
				</ul>
				<p class="text-lg">
					Lease time includes setup and cleanup. Additional time adds a fee of $75–200 per hour.
				</p>
				<p class="text-lg">
					For the other spaces:
				</p>
				<ul class="text-lg">
					<li>$10 – 45 per hour for rehearsals or meetings</li>
					<li>$12 – 50 per hour for classes</li>
					<li>$50 – 300 per hour for performances</li>
				</ul>
				<p class="text-lg">
					We are open to exploring custom arrangements for complex events.
				</p>
				<p class="text-lg">
					We require a 50% deposit three weeks prior to any public performance or event. Refund and other terms are outlined in the facility use agreement.
				</p>
				<p class="text-lg">
					To view this as a printable PDF, please click <a href="#">here</a>.
				</p>	
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>