<% include ../partials/header.ejs %>

<div class="dark viewport-container">
    <div class="container-fluid">
	    <div class="row">
	        <div class="col-12 col-md-8 offset-md-2 text-center">
	            <p id="home-intro">
					What if one of the largest community centers and venue spaces in the Bay Area was run in a spirit of radical generosity, by a volunteer collective where everybody is a leader? We're trying to do just that, at the
	            </p>
	            <h1 id="home-title"><strong>Omni Commons</strong></h1>
            	<a 
            		id="home-address" 
            		class="anim-1" 
            		target="_blank" 
            		href="http://maps.google.com/?q=4799%20Shattuck%20Ave.,%20Oakland,%20CA">
            			4799 Shattuck Ave.<br>
            			Oakland, CA
            	</a><br>
            	<a href="/about" id="home-join-button" class="anim-1">
            		Join Us
            	</a>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<h1 class="display-4 text-center text-md-left mt-5">About Us</h1>
				<p class="text-lg text-center text-md-left">
					We are twelve Bay Area collectives with a shared political vision of more equitable commoning of resources and meeting human needs over private interests or corporate profit:
				</p>
				<ul class="text-lg">
					<li><a href="/collectives/Art%20Bison%20Design%20Coop">Art Bison Design Coop</a> is a feminist organization producing radical screenprints and hand-dyed products.</li>
					<li><a href="/collectives/Bay%20Area%20Public%20School">Bay Area Public School</a> is a free, self-organizing, anti-capitalist school with radical and contestatory politics.</li>
					<li><a href="/collectives/Chiapas%20Support%20Committee">Chiapas Support Committee</a> supports autonomous health care and education in Zapatista communities.</li>
					<li><a href="/collectives/Counter%20Culture%20Labs">Counter Culture Labs</a> is a citizen science and DIYbio space that is open sourcing biology.</li>
					<li><a href="/collectives/Food%20Not%20Bombs">Food Not Bombs</a> has been bringing free food to parks, political events, neighborhood gatherings, and social centers since 1991.</li>
					<li><a href="/collectives/Global%20Women's%20Strike">Global Women's Strike</a> is an international network working toward the return of military spending to the community starting with women, the main caregivers everywhere.</li>
					<li><a href="/collectives/Liberated%20Lens">Liberated Lens</a> is a radical film &amp; video collective dedicated to social change.</li>
					<li><a href="/collectives/Phat%20Beets">Phat Beets</a> is a food justice group building farmers markets and gardens in North Oakland.</li>
					<li><a href="/collectives/Sudo%20Room">Sudo Room</a> is a place to build, learn, reclaim technology for the people, and create alternatives to the tech industry.</li>
					<li><a href="/collectives/Timeless%20Infinite%20Light">Timeless, Infinite Light</a> is an Oakland small press focused on contemporary poetry and critical theory.</li>
				</ul>
				<p class="text-lg text-center text-md-left">
					Read more on our <a href="https://omnicommons.org/wiki/Welcome_to_the_Omni_Commons">Wiki</a>
				</p>
			</div><!-- .col -->
			<div class="col-12 col-md-6">
				<h1 class="display-4 text-center text-md-left mt-5">Join Us</h1>
				<p class="text-lg text-center text-md-left">
					The easiest ways to join Omni are:
				</p>
				<ul class="text-lg">
					<li><a href="#">Donate money</a> to keep the place open</li>
					<li>Come to an event on our <a href="#">calendar</a></li>
					<li>Get our <a href="#">email announcements</a></li>
					<li>Contact us with <a href="#">questions or feedback</a></li>
				</ul>
				<p class="text-lg">
					If you have more time, you can:
				</p>
				<ul class="text-lg">
					<li>Join a <a href="#">member collective</a></li>
					<li>Join a <a href="#">working group</a></li>
					<li>Use the space for <a href="#">your own event or meeting</a></li>
					<li><a href="#">Help out</a> with somebody else's event</li>
					<li>Join our many <a href="#">email lists</a></li>
					<li>Come to our general meetings (1st &amp; 3rd thursdays, 7pm)</li>
					<li>Buy us toilet paper or take out the <a href="#">trash</a>. No,seriously.</li>
				</ul>
				<h1 class="display-4 text-center text-md-left mt-5">Events</h1>
				<p class="text-lg">
					You can <a href="#">request space</a> for your own event, or come to an event on <a href="#">our calendar</a>. The next upcoming events are:<br>
				</p>
				<div class="card">
					<div class="card-block">
						<h2 class="card-title card-subtitle text-muted">Tuesday, August 15th </h2>
						
						<h2 class="card-title mt-3">
							<a href="#">East Bay Fusion Dance</a>
						</h2>
						<h4 class="card-title card-subtitle text-muted mt-2">7:00pm - 12:00am: Ballroom</h4>
						
						<h2 class="card-title mt-3">
							<a href="#">Fingerhands</a>
						</h2>
						<h4 class="card-title card-subtitle text-muted mt-2">7:00pm - 9:30pm: Disco Room</h4>

						<h2 class="card-title mt-3">
							<a href="#">Hardware Hack Night</a>
						</h2>
						<h4 class="card-title card-subtitle text-muted mt-2">7:00pm - 9:00pm: Sudo Room</h4>

						<h2 class="card-title mt-3">
							<a href="#">SudoMesh: Save the Internet</a>
						</h2>
						<h4 class="card-title card-subtitle text-muted mt-2">7:30pm - 9:00pm: Sudo Room</h4>

						<h2 class="card-title mt-3">
							<a href="#">Biohackers and Mad Scientists Social</a>
						</h2>
						<h4 class="card-title card-subtitle text-muted mt-2">8:00pm - 10:00pm: Counter Culture Labs</h4>
					</div>
				</div><!-- .card -->
				<p class="text-lg mt-3">See our full calendar <a href="#">here</a>!</p>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>