<% include ../partials/header.ejs %>

<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center text-md-left mt-5">OCCUPY THE COMMONS</h1>
				<h3 class="mt-3">How To Request An Event</h3>
				<ol class="text-lg">
					<li>Check the <a href="#">Omni Calendar</a> for other events in the room you want on the date(s) of your interest.
						<ul>
							<li>
								Event <strong>requests are now due by the second Tuesday of the month</strong> for the following month. To request an event next month, submit your request by the second Tuesday of this month. We will review all requests received at our second Tuesday meeting and get back to you early the next week.
							</li>
							<li>
								Events are held throughout the different rooms in the building. Read about <a href="#">the spaces</a> in the Omni to see which ones may be suitable for you. Visit us and see the space yourself!
							</li>
							<li>
								Read about the <a href="#">audio-visual equipment</a> we have available for you.
							</li>
						</ul>
					</li>
					<li>Read Our Policies:
						<ul>
							<li>
								<a href="/statement-of-solidarity">Statement of Solidarity</a>
							</li>
							<li>
								<a href="/fee-structure">Lease Policy &amp; Fee Structure</a>
							</li>
							<li>
								<a href="/rules-for-events">Rules For Events At The Omni</a>
							</li>
							<li>
								<a href="/ballroom-event-guide">Ballroom Event Guide</a>
							</li>
						</ul>
					</li>
					<li>
					Submit an event request using the <a href="#">Event Request Form</a> below and our events team will get back to you as soon as possible.
					</li>
				</ul>
				<div class="text-center">
					<a href="/events/apply" class="btn btn-lg btn-success mt-5">Request Event</a>
				</div>	
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>