<% include ../partials/header.ejs %>

<div class="white viewport-container">
	<div class="padded container-fluid">
		<div class="row">
			<div class="col-12">
				<h1 class="display-4 text-center text-md-left mt-5">Statement Of Solidarity</h1>
				<p class="text-lg text-center text-md-left">
					The Omni is an open and diverse community. We love and value every person. To this end, we honor &amp; respect the experiences, center the perspectives, and prioritize the needs of marginalized and oppressed people. For example:
				</p>
				<ul class="text-lg text-center text-md-left">
					<li>Poor, working class, unemployed and enslaved people struggling against a world dominated by money and capital</li>
					<li>People of color struggling against racism &amp; white supremacy;</li>
					<li>People struggling against all forms of colonialism, from Ohlone people whose stolen land we occupy, to people being threatened or displaced by gentrification.</li>
					<li>Women and all gender minorities struggling against sexism, misogyny and male supremacy;</li>
					<li>Transgender &amp; gender-nonconforming people struggling against the gender binary, bioessentialism, transphobia &amp; transmisogyny;</li>
					<li>Queer, LGB and same-gender-loving people struggling against homophobia &amp; heterosexism;</li>
					<li>People with physical &amp; mental disabilities who struggle with ableism &amp; accessibility;</li>
					<li>People of all shapes and sizes struggling against fatphobia and other forms of body hierarchy;</li>
					<li>The survivors of rape, harassment, assault, trauma and exploitation;</li>
					<li>Migrants struggling against nationalism and xenophobia, especially those without documents or citizenship;</li>
					<li>Speakers of all languages struggling against the dominance of English.</li>
				</ul>
				<p class="text-lg text-center text-md-left">
					This is not a hypothetical exhaustive list of every oppression ever. Rather, it's a proactive recognition of some of the real issues faced by real people in our communities today, an expression of our solidarity and our intent to work side by side building our futures together.
				</p>
				<p class="text-lg text-center text-md-left">
					As a community, we agree to be in solidarity with those who are most vulnerable. We are prepared to be held accountable for our social privilege when necessary. We will actively work to hold our spaces to the highest ideals - not just make them safe, but warm, welcoming and loving for everybody.
				</p>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>