<% include ../partials/header.ejs %>

<div class="viewport-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card mt-3">
                    <div class="card-block">
                        <h3 class="card-title text-center">
                        	Add New Location
                        </h3>
                        <form id="new-location-form" method="post">
                            <input type="hidden" id="summernote-content" name="summernoteContent" value="">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Location Name">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <div id="summernote"></div>
                            </div>
                            <div class="form-group">
                                <label for="peopleMax">Attendance Capacity</label>
                                <div class="input-group">
                                    <input type="number" name="peopleMax" min="0" class="form-control" aria-describedby="people-addon">
                                    <span class="input-group-addon" id="people-addon">People</span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button id="form-submit-button" class="btn btn-success mt-3">
                                    <i class="fa fa-save"></i>&nbsp;&nbsp;Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>    
        </div>        
    </div>

</div>

<script>
    $(document).ready(function() {

        // Initialize Summernote

        $('#summernote').summernote({
            height: 300
        });

        // Submit Form 

        $(document).on( "click", "#form-submit-button", function() {
            let content = $('#summernote').summernote('code');
            $('#summernote-content').val(content);
            $('#new-location-form').submit();          
        });        

    });
</script>

<% include ../partials/footer.ejs %>